body {
	/* 7ABEDB */
	background-color: #90CAF9;
	background: -webkit-linear-gradient(#64B5F6, #BBDEFB) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#64B5F6, #BBDEFB) fixed; /* For Opera 11.1 to 12.0 */ 
    background: -moz-linear-gradient(#64B5F6, #BBDEFB) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#64B5F6, #BBDEFB) fixed; /* Standard syntax */
	font-family: Roboto;
	font-size: 12px;
}

@font-face {
	font-family: Stellar;  
	src: url(fonts/Stellar-Regular.otf);  
	font-weight: normal;  
}

@font-face {
	font-family: Stellar;  
	src: url(fonts/Stellar-light.otf);  
	font-weight: lighter;  
}

@font-face {
	font-family:Roboto;
	src: url(fonts/roboto/Roboto-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family:Roboto;
	src: url(fonts/roboto/Roboto-Thin.ttf);
	font-weight: 300;
}

@font-face {
	font-family:Roboto;
	src: url(fonts/roboto/Roboto-Light.ttf);
	font-weight: 350;
}


h1 {
	color: #233B9D;
	font-family: Roboto;
	font-weight: 400;
	text-transform: uppercase;
    font-size: 100px;
	text-align: center;
	margin-bottom: -10px;
}

h1 a {
	color: inherit;
}

h2 {
	color: #233B9D;
	font-size: 13px;
	text-align: center;
	font-family: Roboto;
	font-weight: 400px;
	vertical-align: text-bottom;
	text-transform: uppercase;
}

h2 a {
	color: #233B9D;
	text-decoration: none;
}

h2 a:hover{
	text-decoration: underline;
}

h3 {
	font-family: Roboto;
	text-transform: uppercase;
	font-size: 30px;
}

h4 {
	/* for exercise descrip */
	text-align:left;
	font-size:20px;
	font-color:#666666;
	font-weight:400;
}

a {
	text-decoration: none;
	font-color: #666;
}

fieldset {
	border: none;
	text-align: center;
}

input[type=submit]{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: calibri;
	text-transform: uppercase;
	border: 1px solid #ccc;
	background-color: #eee;
	padding:10px;
	margin-top: 10px;
}

input[type=number]{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 5px;
}

p {
    color: #010101;
	font-size: 150%;
	text-align: center;
}

#desc {
	font-weight:350;
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

#panel {
	width: 450px;
	margin: auto;
	font-size: 15px;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#exercisePanel {
	width: 600px;
        margin: auto;
        margin-top:20px;
	margin-bottom: 30px;
        padding: 20px;
        background-color: #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
}

img {
	max-width: 100%;
	height: auto;
}

#content {
	margin-top: 200px;
}

button.nice {
	width:100%; 
	height:100%; 
	font-size:100px;
	background: none;
	border:none; 
	font-family: Roboto;
	font-weight: 300;
	text-transform: uppercase;
}

button.left {
	position: absolute;
	left:150px;
	bottom:50%;
	padding:30px;
	border:none;
	font-size:25px;
	background: #fff;
	-webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
}

button.right {
	position:absolute;
	right:150px;
	bottom:50%;
	padding:30px;
	border:none;
	font-size:25px;
	background: #fff;
	-webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
}

#left {
	position:absolute;
	font-size: 70px;
	top:350px;
	left:35%;
}

#right {
	position:absolute;
	font-size: 70px;
	right:35%;
	top:350px;
}
#workout {
	width: 575px;
	height: 200px;
    margin: auto;
    padding: 20px 25px 20px 30px;
    margin-top:30px;
    background-color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

#timer {
	background: #fff;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 10px;
    margin: auto;
    margin-top:30px;
    font-size: 40px;
	width:150px;
	height:80px;
	text-align: center;
}

/* stuff from materialize css */

.z-depth-2 {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.11), 0 1px 10px 0 rgba(0, 0, 0, 0.08), 0 2px 4px -3px rgba(0, 0, 0, 0.14);
}

#nav {
	text-align: center;
}

#toc {
	text-align:center;
	width:600px;
	margin:auto;

.rainbow {
  background: linear-gradient(to bottom right, #000080, #00FFFF);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}