body {
	/* 7ABEDB */
	background-color: #90CAF9;
	background: -webkit-linear-gradient(#64B5F6, #BBDEFB) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#64B5F6, #BBDEFB) fixed; /* For Opera 11.1 to 12.0 */ 
    background: -moz-linear-gradient(#64B5F6, #BBDEFB) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#64B5F6, #BBDEFB) fixed; /* Standard syntax */
	font-family: consolas;
	font-size: 12px;
}

@font-face {
	font-family: Stellar;  
	src: url(fonts/Stellar-Regular.otf);  
	font-weight: normal;  
}

@font-face {
	font-family: Stellar;  
	src: url(fonts/Stellar-light.otf);  
	font-weight: lighter;  
}

h1 {
	color: #233B9D;
	font-family: Stellar;
	text-transform: uppercase;
    font-size: 70px;
	text-align: center;
	margin-bottom: -10px;
}

h2 {
	color: #233B9D;
	font-size: 120%;
	text-align: center;
	vertical-align: text-bottom;
	text-transform: uppercase;
}

h2 a {
	color: #233B9D;
	text-decoration: none;
}

h2 a:hover{
	text-decoration: underline;
}

fieldset {
	border: none;
	text-align: center;
}

input[type=submit]{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: calibri;
	text-transform: uppercase;
	border: 1px solid #ccc;
	background-color: #eee;
	padding:10px;
	margin-top: 10px;
}

input[type=number]{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 5px;
}

p {
    color: #010101;
	font-size: 150%;
	text-align: center;
}

#desc {
	font-family: Stellar;
	font-weight: lighter;
	font-size: 15px;
	font-style: italic;
	text-align: center;
}

#panel {
	width: 450px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#content {
	margin-top: 200px;
}